.App{
  text-align:center;
  background-color:grey;
  height:100vh
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.contact-jumbotron {
  background-image: url("./images/etour.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#youtube-btn {
  border-color: #f83f37;
  color: #f83f37;
}
#youtube-btn:hover {
  background-color: #f83f37;
  color: #ffffff;
}
#contact{
  padding-top: 70px;
}
.Board {
  width: 300px; 
   height: 230px;
  border: 2px solid black;
  margin-top:"50px"
}

.Board_onedata{
  position: relative;
  

}
.sub_div {
  position: absolute;
  bottom: 0px;
  /* background-color:red; */
  color:red
}
.Board_twodata{
  position: relative;
}
.sub_div1 {
  position: absolute;
  bottom: 0px;
  /* background-color:red; */
  color:red
}
.Board_Three{
  position: relative;
}
.sub_div3 {
  position: absolute;
  bottom: 0px;
  /* background-color:red; */
  color:red
}

.Board_four{
  position: relative;

}

.sub_div4 {
  position: absolute;
  bottom: 0px;
  /* background-color:red; */
  color:red
}
